@charset "UTF-8";
@font-face {
    font-family: 'android'; 
    src: url('./fontes/idroid.otf') format('opentype');
}

*{margin: 0px;
padding: 0px;}
    
body{
    height: 2000px;
    background-color: rgba(188, 248, 148, 0.671);
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;
    
}
header{
    background-image: linear-gradient(to bottom, #1bb960 2%, #0c3b20);
    color: white;
    text-align: center;
    padding: 3px;
}
header > h1{
    font-family: 'Times New Roman', Times, serif;
}
nav{
    text-align: left;
    padding: 10px;
    box-shadow: 0px 7px 7px black;

    text-decoration: none;
    font-weight:bold;
    transition-duration: 0.5s;
}
nav> a:hover {
 color: black;
 background-color: #8bf3b8;
 border-radius: 5px;
}
a.navegação{
    color:white;
    padding: 7px;
    
}

main{
    background-color: white;
    max-width: 900px;
    min-width: 350px;
    margin: auto;
    padding: 15px;

}
strong{
    color: rgb(12, 77, 12);
}

img#img3{
    width: 350px;
    display: block;
    margin: auto;
}

h1#titulo{ background-color:transparent;

}
h1{
    font-family:'android';
    background-color: #8bf3b8;
    padding: 5px;
}
h2{
    font-family:'android';
    background-color: #8bf3b8;
    padding: 5px;
}
p{
    padding: 15px;
    text-indent: 30px;
}

main img{
    width: 100%;
}

iframe{
    display: block;
    margin: auto;
    width: 100%;
    
    padding-bottom: 25px;
}
aside{
    background-color: #34b86b;
    padding: 10px;
    border-radius: 15px;
}
aside > ul{
    columns: 2;
    list-style-position: inside;
}

footer{
    text-align: center;
    background-color:#328053 ;
    max-width: 900px;
    min-width: 350px;
    text-align: center;
    margin: auto;
    
}

