*{  
    font-size: 15px;
  
}
body{
    height: 700px;
    width:900px;
    margin: auto ;
    text-align: justify;
    padding: 15px;
    background-color: rgb(234, 254, 255);
}
header{

}
div{ display: inline-block;


}
nav{
    display: inline-block;
    padding: 15px;
   
    

}
nav > a{
    padding: 10px;
    background-color: cadetblue;
    border-radius: 15px;
    text-decoration: none;
    color: aliceblue;
    
}
nav> a:hover {
    color: black;
    background-color: #ffffff;
    border-radius: 5px;
}
main{
    background-color: white;
    max-width: 900px;
    min-width: 350px;
    margin: auto;
    padding: 0px;
}
main>p{
    padding: 10px;
}

h1{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
}

img#capa{
    width: 350px;
    
    margin: auto;
}
footer{
    margin: auto;
    background-color: cadetblue;
    width: 900px;
}
footer > p{
    text-align: center;
    color: aliceblue;
}
.p{
    margin: 5px;
}
input{
  margin-left: 15px;

}
#ultimo{
    margin-bottom: 5px;
}
    
